# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
env/


# Configurações de IDE
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos de banco SQLite
*.sqlite3

# Arquivos de ambiente
.env

# Docker
*.pid
*.sock
